<nav class="account-aside section-pt">
  {% if customer %}
    <a href="{{ routes.account_url }}#info" class="account-link button-title-4 opacity-50">Account Details</a>
  {% else %}
    <a href="{{ routes.account_url }}#info" class="account-link button-title-4 opacity-50">Account</a>
  {% endif %}
  <a href="/pages/wishlist" class="account-link button-title-4 opacity-50 {% if wishlist %}active{% endif %}"
    >Wishlist</a
  >

  {% if customer %}
    <a class="link account-logout" href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
  {% endif %}
</nav>
