<card-favorite>
  <button class="card-favorite {{ class }}">
    {% render 'icon-favorite' %}
  </button>

  <button class="st-wishlist-button" data-type="details" data-handle="{{ product.handle }}" hidden></button>
</card-favorite>
