{% if product.available %}
  <p class="product-available {% if desc %}--desc{% endif %} body-3 text-center opacity-50">Few items left</p>
{% else %}
  <p class="product-available {% if desc %}--desc{% endif %} body-3 text-center opacity-50">Out of stock</p>
{% endif %}
