@use "../mixins";
@use "../vars";

.margin-top-0 {
  margin-top: 0!important;
  padding-top: 0!important;
  &:first-child {
    padding-top: 6rem!important;
    @include mixins.breakpoint(vars.$xl-bp) {
      padding-top: 3.2rem!important;
    }
  }
}

.about-us {
  margin: 0 !important;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: 1828px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: vars.$xl-bp) {
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
    }

    @media screen and (min-width: vars.$sm-bp) {
      gap: 180px;
    }
  }

  &__img {
    width: 100%;
    padding: 10px;
    max-height: 800px;
    max-width: fit-content;

    @media screen and (min-width: vars.$xl-bp) {
      order: 0;
      padding: 40px;
      max-width: 50%;
    }

    img {
      display: block;
      height: 100%;
      max-width: 834px;
      width: 100%;
    }

    &.over-text {
      order: -1;

      @media screen and (min-width: vars.$xl-bp) {
        order: 0;
      }
    }

    &.under-text {
      order: 1;

      @media screen and (min-width: vars.$xl-bp) {
        order: 0;
      }
    }
  }

  &__data {
    width: 100%;
    padding: 60px 0;

    @media screen and (min-width: vars.$xl-bp) {
      max-width: none;
      padding: 30px 0;
    }

    @media screen and (min-width: vars.$cos-bp) {
      max-width: 554px;
    }

    &.left-side {
      margin: 0;

      @media screen and (min-width: vars.$xl-bp) {
        margin-left: 180px;
      }
    }

    &.right-side {
      margin: 0;

      @media screen and (min-width: vars.$cos-bp) {
        margin-right: 180px;
      }
    }

    & h2 {
      margin: 0 0 32px;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;

      @media screen and (min-width: vars.$xl-bp) {
        font-size: 40px;
        line-height: 110%;
      }
    }

    &_description {
      display: flex;
      flex-direction: column;

      & p {
        color: #000;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin: 0;

        & + p {
          margin: 16px 0 0;
        }

        & a {
          color: #000;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          position: relative;
          display: inline-block;
          margin: 16px 0 0;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
          }
        }
      }
    }
  }
}