@use "../mixins";
@use "../vars";

.collection {
  position: relative;
}

.collection-title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: -0.06em;
  color: var(--black);
  text-align: center;

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 3.2rem;
  }
}

.collection-count {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 2.7rem;

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 1.4rem;
  }
}

.collection-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 6rem;

  @include mixins.breakpoint(vars.$cos-bp) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mixins.breakpoint(vars.$xl-bp) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.collection-bot {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  @include mixins.breakpoint(vars.$xl-bp) {
    margin-top: 3.2rem;
  }

  &::before {
    content: '';
    @include mixins.breakpoint(vars.$xl-bp) {
    content: normal;
    }
  }
}

.collection-up {
  width: 2.4rem;
  height: 2.4rem;
}

.collection-filterspace {
  position: relative;
}