@use "../mixins";
@use "../vars";

.colorfilt-title {
  text-align: center;
}

.colorfilt-subtitle {
  margin-top: 3.2rem;
}
.colorfilt-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.colorfilt-swiper {
  padding-top: 2rem;
  .swiper-slide {
    width: 28.8rem;
    margin-right: 2rem;
  }
}

.colorfilt-item {
  background-color: #F6F6F6;
}