@use "../mixins";
@use "../vars";

.main {
  min-height: 700px;
  height: 100vh;
  height: 100svh;

  @include mixins.breakpoint(vars.$xl-bp) {
    min-height: 500px;
  }

  img {
    object-position: top;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}