@use "../mixins";
@use "../vars";

.main {
  min-height: 700px;
  height: 100vh;
  height: 100svh;
  @include mixins.breakpoint(vars.$xl-bp) {
    min-height: 500px;
  }
  img {
    object-position: top;
  }
}