@use "../mixins";
@use "../vars";

#mobile-modal-overlay {
  display: none;
  @include mixins.breakpoint(vars.$xl-bp) {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: transparent;
    opacity: 0;
    animation: FadeOut var(--time) ease-in-out;

    #mobile-modal.open+& {
      display: block;
      opacity: 1;
      animation: FadeIn 1s ease-in-out;
      pointer-events: all;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }
}

#mobile-modal {
  display: none;

  @include mixins.breakpoint(vars.$xl-bp) {
    background-color: var(--white);
    padding: 1.6rem;
    padding-bottom: 8.2rem;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -5rem;
    z-index: 100;
    transform: translateY(100%);
    display: flex;
    gap: 1.2rem;
    border-top: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
    transition: transform var(--time);

    &.open {
      transform: translateY(0);
    }

    .card-image {
      width: 8.8rem;
      height: 11rem;
      &::before {
        content: normal;
      }
    }

    .card-title {
      a {
        &::before {
          content: normal;
        }
      }
    }

    .card-favorite,
    .card-cart {
      display: none;
    }

    .card-hiddenlink {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .card-bot {
      justify-content: flex-start;
      gap: 0;
      margin-top: 0;
    }

    .card-price {
      margin-top: 0.3rem;
    }

    .card-sizebtn {
      &:first-child {
        padding-left: 0;
      }
    }

    .only-modal {
      display: flex;
    }
  }
}

@keyframes FadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}