@use "../mixins";
@use "../vars";

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17.4rem;
} 

.product-desctop {
  @include mixins.breakpoint(vars.$xl-bp) {
    display: none;
  } 
}

.product-sticky {
  position: sticky;
  top: calc(var(--header-spacer) + 6.1rem);
  left: 0;
  height: min-content;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-img {
  width: 59.6rem;
  height: 70rem;
  background-color: var(--milk);
}

.product-title {
  margin-bottom: 2rem;
}

.product-price {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.product-details {
  &:first-of-type {
    margin-top: 6rem;
  }
}

.product-favorite {
  display: flex;
  align-items: center;
  gap: 1rem;
  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.product-variants {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &:first-of-type {
    margin-top: 11.2rem;
  }

  & + & {
    margin-top: 4rem;
  }
}

.product-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product-submit {
  grid-column: 3 span;
}

.product-colorboxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-colorbox {
  width: 5rem;
  height: 5rem;
  display: block;
  &::before {
    content: '';
    border: 0.1rem solid var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--time);
    opacity: 0;
  }
  &.checked {
    position: relative;
    &::before {
      opacity: 1;
    }
  }

}

.product-recommendations {
  min-height: 63.4rem;
}