<div class="collection-main">
  <h1 class="collection-title">
    <span class="sr-only">{{ 'sections.collection_template.title' | t }}: </span>
    {{- collection.title | escape -}}
  </h1>
  {%- if section.settings.show_collection_description -%}
    <div class="collection-desc">
      {{ collection.description }}
    </div>
  {%- endif -%}
  <div class="collection-count">{{ collection.all_products_count }} products</div>
</div>

{% schema %}
{
  "name": "Collection header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "Show collection description"
    }
  ]
}
{% endschema %}
