{% render 'vite-tag' with 'collection-gallery.scss', preload_stylesheet: true %}

<ul class="collection-gallery-list">
  {%- for product in section.settings.collection.products limit: 24 -%}
    <li>
      <a href="{{ product.url }}" class="collection-gallery-item">
        {{
          product.featured_image
          | image_url: width: 288, height: 344
          | image_tag: loading: 'lazy', width: 288, height: 344, alt: product.featured_image.alt
          | escape
        }}
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "Collection-gallery",
  "tag": "section",
  "class": "collection-gallery wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection link"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Collection gallery"
    }
  ]
}
{% endschema %}
