{% if section.settings.title %}
  <h2 class="title-1">
    {{ section.settings.title | escape }}
  </h2>
{% endif %}

{% if section.settings.isSlider %}
  <featured-swiper class="swiper recommendations-swiper featured-swiper opacity-0" client:visible>
    <div class="swiper-wrapper">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        {%- render 'card-product', card_product: product, wrapper_class: 'swiper-slide' -%}
      {%- else -%}
        {%- for i in (1..4) -%}
          {% render 'card-product', card_product: product, wrapper_class: 'swiper-slide' %}
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </featured-swiper>
{% else %}
  <div class="featured-list">
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      {%- render 'card-product', card_product: product, wrapper_class: '' -%}
    {%- else -%}
      {%- for i in (1..4) -%}
        {% render 'card-product', card_product: product, wrapper_class: '' %}
      {%- endfor -%}
    {%- endfor -%}
  </div>
{% endif %}

{% if section.settings.addLink and section.settings.collection %}
  <a class="featured-link link button-title-3" href="{{ section.settings.collection.url }}">
    {{- section.settings.collection -}}
  </a>
{% endif %}

{% render 'quick-add-modal' %}

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "class": "overflow-hidden wrapper pt-0",
  "settings": [
    {
      "type": "checkbox",
      "id": "addLink",
      "label": "Show link to collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "isSlider",
      "label": "Enable slider",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "default": 4,
      "min": 4,
      "max": 16,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
