{% render 'vite-tag' with 'blog.scss', preload_stylesheet: true %}

{%- paginate blog.articles by 10 -%}
  <h1 class="title-1 text-center">
    {{ blog.title | escape }}
  </h1>

  <div class="blog-list">
    {%- for article in blog.articles -%}
      {%- assign module = forloop.index | modulo: 5 -%}
      {% if module == 0 or forloop.index == 1 %}
        {%- render 'article-card',
          article: article,
          class: 'big',
          title_class: 'subhead-1',
          width: 1058,
          height: 800
        -%}
      {% else %}
        {%- render 'article-card', article: article, class: '', title_class: 'subhead-2', width: 288 -%}
      {% endif %}
    {%- endfor -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "wrapper"
}
{% endschema %}
