{%- liquid
  assign number pagination-count = 12
-%}
<div id="ProductGridContainer" class="collection wrapper">
  <div
    class="collection-list"
    id="product-grid"
    data-id="{{ section.id }}"
  >
    {%- liquid
      paginate collection.products by pagination-count
        for product in collection.products
          assign lazy_load = false
          if forloop.index > 2
            assign lazy_load = true
          endif
          render 'card-product', card_product: product, lazy_load: lazy_load
        else
          if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0
            for i in (1..4)
              render 'card-product'
            endfor
          endif
        endfor
      endpaginate
    -%}
  </div>
  <div class="collection-bot">
    <div class="body-1 text-center opacity-50">
      {% if collection.all_products_count == 1 %}
        You’re viewing 1 product
      {% else %}
        You’re viewing 1-{{ pagination-count }} of {{ collection.all_products_count }} products
      {% endif %}
    </div>

    <button class="collection-up" onclick="window.scrollTo(0,0)">
      {% render 'icon-up' %}
    </button>
  </div>
</div>
