<div class="wrapper">
  <h1 class="title-1">{{ page_title }}</h1>
</div>
<div class="wrapper section-pt">
  {%- paginate collections by 12 -%}
    <ul class="grid grid-flow-row grid-cols-1 gap-2 gap-y-6 md:grid-cols-3 md:gap-4 lg:gap-6" role="list">
      {%- for collection in collections -%}
        <li>
          {% render 'card-collection', card_collection: collection %}
        </li>
      {%- endfor -%}
    </ul>
  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "Collections list page"
}
{% endschema %}
