<menu-drawer id="modal-sizes" class="modal-sizes" client:idle data-open="false">
  <div class="modal-overlay add-opacity"></div>
  <div class="modal">
    <div class="modal-header">
      <div class="title-1">Size Guide</div>
      <button class="modal-close modal-close-styles">{% render 'icon-close' %}</button>
    </div>

    <div class="modal-inner">
      <div class="modal-page">
        {{ section.settings.page.content }}
        {% comment %}
          <div class="modal-labels">
            <input type="radio" name="tab" id="tab-1" checked>
            <label for="tab-1" class="radio2-label headline-2"><span class="radio2-box"></span>CM</label>
            <input type="radio" name="tab" id="tab-2">
            <label for="tab-2" class="radio2-label headline-2"><span class="radio2-box"></span>in</label>

            <div class="modal-tabs">
              <div class="modal-tab" data-tab="1">
                <table class="headline-2">
                  <thead>
                    <tr>
                      <th>Humbl sizes</th>
                      <th>Bust</th>
                      <th>Waist</th>
                      <th>Hips</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>xs</td>
                      <td>80</td>
                      <td>60</td>
                      <td>86</td>
                    </tr>
                    <tr>
                      <td>s</td>
                      <td>84</td>
                      <td>64</td>
                      <td>90</td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td>88</td>
                      <td>68</td>
                      <td>94</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td>92</td>
                      <td>72</td>
                      <td>98</td>
                    </tr>
                    <tr>
                      <td>XL</td>
                      <td>96</td>
                      <td>76</td>
                      <td>102</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-tab" data-tab="2">
                <table class="headline-2">
                  <thead>
                    <tr>
                      <th>Humbl sizes</th>
                      <th>Bust</th>
                      <th>Waist</th>
                      <th>Hips</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>xs</td>
                      <td>80</td>
                      <td>60</td>
                      <td>86</td>
                    </tr>
                    <tr>
                      <td>s</td>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>XL</td>
                      <td>10</td>
                      <td>11</td>
                      <td>12</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <h3 class="subhead-1 modal-page-title">How to take measurements?</h3>

          <div class="dl body-1">
            <div class="dr">
              <div class="dt">Bust:</div>
              <div class="dd">Place the measuring tape around the fullest part of your chest directly under your arms.</div>
            </div>

            <div class="dr">
              <div class="dt">Waist:</div>
              <div class="dd">Measure around your natural waistline at belly button level.</div>
            </div>

            <div class="dr">
              <div class="dt">Hips:</div>
              <div class="dd">Measure around the fullest part of your body at the top of your leg.</div>
            </div>
          </div>

          <small>Depending on the fit, slight differences in measurement may appear.</small>
        {% endcomment %}
      </div>
    </div>

    <div class="modal-footer">
      <div class="modal-footleft">
        <div class="subhead-1">Need an advice?</div>
        <div class="body-1">Our team advisors will be pleased to assist you.</div>
      </div>
      <a href="#" class="btn btn-blue modal-contactbtn">contact us</a>
    </div>
  </div>
</menu-drawer>

{% schema %}
{
  "name": "Modal sizes",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "Choose page"
    }
  ]
}
{% endschema %}
