@use "../styles/mixins";
@use "../styles/vars";

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account-forgot {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.account-block {
  margin-top: 3.2rem;
  width: 100%;
}

.account-wrapper {
  width: calc(59.6rem + 1.6rem + 1.6rem);
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;

  @include mixins.breakpoint(vars.$xl-bp) {
    width: 100%;
  }
}

.account-create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
  padding-bottom: 1rem;
}

.account-recblock {
  margin-top: 3.2rem;
}

.account-createbtn {
  grid-column: 2 span;
  margin-top: 2rem;
}

.account-main {
  align-self: flex-start;
  width: 100%;
  display: grid;
  grid-template-columns: 18.8rem 1fr;
  padding-top: 0;
  @include mixins.breakpoint(vars.$xl-bp) {
    display: flex;
    flex-direction: column;
  }
}

.account-aside {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: sticky;
  top: 10rem;
  @include mixins.breakpoint(vars.$xl-bp) {
    top: 0;
    padding-top: 0;
    flex-direction: row;
    white-space: nowrap;
    background-color: #f7f7f7;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.account-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: opacity var(--time);
  @include mixins.breakpoint(vars.$xl-bp) {
    padding: 1.6rem 1rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &.active {
    opacity: 1;
  }
}

.account-logout {
  margin-top: 6.5rem;
  @include mixins.breakpoint(vars.$xl-bp) {
    margin-top: 0;
  }
}

.account-content {
  display: flex;
  justify-content: center;
  padding-right: 18.8rem;
  @include mixins.breakpoint(vars.$xl-bp) {
    padding-right: 0;
  }
}

.account-target {
  display: none;
  animation: fadeEffect var(--time);
  &:target {
    display: block;
    & ~ .account-target-info {
      display: none;
    }
  }
}

.account-target-info {
  animation: fadeEffect var(--time);
}

#errors-container_custom-name {
  position: absolute;
  bottom: 0;
  & > * {
    display: none;
    &:first-child {
      display: block;
    }
  }
}

.account-checkbox {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}