@use "../styles/mixins";
@use "../styles/vars";

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1828px;
  width: 100%;
  margin: 0 auto;
}

.gallery-main {
  margin-bottom: 2rem;
}