@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@/styles/style.scss';

:root {
  --white: var(--color-contrast, #fff);
  --black: var(--color-primary, #000);
  --blue: var(--color-accent, #2D4F7F);
  --time: .5s;

  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Playfair Display", sans-serif;
}