@use "sass:meta";
@use "fonts";

@use "vars";
@use "mixins";
@use "reset";

html {
  box-sizing: border-box;

  font-size: calc(100vw / 2900 * 10);

  @include mixins.breakpoint(vars.$max-bp) {
    font-size: calc(100vw / 1920 * 10);
  }

  @include mixins.breakpoint(vars.$cos-bp) {
    font-size: calc(100vw / 1600 * 10);
  }

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include mixins.breakpoint(vars.$sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

@include meta.load-css('blocks/swiper.scss');

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --header-spacer: 6.4rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: var(--black);
  background-color: var(--white);

  @include mixins.breakpoint(vars.$sm-bp) {
    --header-spacer: 4.8rem;
    font-size: 1.4rem;
  }
}

main {
  flex: 1;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: fill, opacity, transform, stroke;
  transition-duration: .3s;
  overflow: visible;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 1.9rem 2.5rem;
  display: inline-block;
  transition: color var(--time), background-color var(--time);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  text-align: center;

  @include mixins.breakpoint(vars.$xl-bp) {
    padding: 1.6rem 2rem;
    font-size: 1.4rem;
  }

  &:disabled {
    pointer-events: none;
  }
}

.shopify-challenge__button,
.btn-blue {
  border: 0.1rem solid var(--blue);
  background-color: var(--blue);
  color: var(--white);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--white);
      color: var(--blue);
    }
  }

  &:disabled {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-color: transparent;
    color: #A0A0A0;
  }
}

.btn-white {
  border: 0.1rem solid var(--blue);
  background-color: var(--white);
  color: var(--blue);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper-desctop,
.wrapper {
  padding-right: 32rem;
  padding-left: 32rem;

  @include mixins.breakpoint(vars.$max-bp) {
    padding-right: 4.6rem;
    padding-left: 4.6rem;
  }

  @include mixins.breakpoint(vars.$xl-bp) {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}

.wrapper-desctop {
  @include mixins.breakpoint(vars.$xl-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper-mobile {
  @include mixins.breakpoint(vars.$xl-bp) {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}

.img-contain {
  display: block;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.img-cover {
  display: block;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.icon {
  width: 2rem;
  height: 2rem;

  @include mixins.breakpoint(vars.$sm-bp) {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.errors-list {
  list-style-type: none;
  margin-top: 0.2rem;
  ul,li {
    list-style-type: none;
    color: var(--red);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.04em;
  }
}

.error-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.2rem;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: var(--red);
}

h1,
.title-1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: -0.06em;

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 3.2rem;
  }
}


.title-2 {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: -0.06em;

}

.headline-1 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 1.6rem;
  }
}


h2,
.headline-2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;

  @include mixins.breakpoint(vars.$sm-bp) {
    font-size: 1.4rem;
  }

}

h3,
.subhead-1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: -0.04em;

}

.st-toast.st-toast--success .content .content_title p,
.subhead-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: -0.04em;
}

.st-toast.st-toast--success .content .content_title p {
  font-weight: 400!important;
  line-height: 105%!important;
}

.body-1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: -0.04em;

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 1.4rem;
  }
}

.body-1-mobile {
  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 1.4rem;
  }
}

.body-2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: -0.04em;

  @include mixins.breakpoint(vars.$sm-bp) {
    font-size: 1.2rem;
  }
}

.body-3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: -0.04em;
}

.body-3-mobile {
  @include mixins.breakpoint(vars.$sm-bp) {
    font-size: 1.2rem;
  }
}

.caption {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.04em;

}

.button-title-1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;

}

.button-title-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: -0.04em;

}

.button-title-3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: -0.04em;
  text-decoration: underline;
  text-decoration-skip-ink: none;

}

.button-title-4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;

}

.button-title-5 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -0.06em;
  text-transform: uppercase;

  @include mixins.breakpoint(vars.$xl-bp) {
    font-size: 1.2rem;
  }
}

.section-pt {
  padding-top: 6rem;

  @include mixins.breakpoint(vars.$xl-bp) {
    padding-top: 4rem;
  }
}

.section-pb {
  padding-bottom: 6rem;

  @include mixins.breakpoint(vars.$xl-bp) {
    padding-bottom: 4rem;
  }
}

main {
  .shopify-section+.shopify-section {
    margin-top: 6rem;

    @include mixins.breakpoint(vars.$xl-bp) {
      margin-top: 4rem;
    }
  }

  .shopify-section+.section-2-mt {
    margin-top: 12rem;

    @include mixins.breakpoint(vars.$xl-bp) {
      margin-top: 6rem;
    }
  }
}

.shopify-section {
  padding-top: 6rem;

  @include mixins.breakpoint(vars.$xl-bp) {
    padding-top: 3.2rem;
  }

  &.pt-0 {
    padding-top: 0;
  }
}

.shopify-section:not(#shopify-section-header):not(.main-collection):not(.padding-bottom-0):not(.main):last-child {
  padding-bottom: 6rem;

  @include mixins.breakpoint(vars.$xl-bp) {
    padding-bottom: 3.2rem;
  }
}

.main-collection:last-child {
  .collection-filterspace {
    padding-bottom: 6rem;

    @include mixins.breakpoint(vars.$xl-bp) {
      padding-bottom: 3.2rem;
    }
  }
}

.home-page {
  .shopify-section:not(#shopify-section-header):first-child {
    padding-top: 0;
  }

  .shopify-section:not(#shopify-section-header):last-child {
    padding-bottom: 0;
  }

}

.overflow-hidden-mobile {
  @include mixins.breakpoint(vars.$xl-bp) {
    overflow: hidden
  }
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .data-checkbox,
  input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    &[data-disabled],
    &:disabled {
      background-color: transparent;
      &::before {
        background-color: #A0A0A0;
      }
    }
    &.checked+.switch-box,
    &:checked+.switch-box {
      background-color: #34C759;
      border-color: #34C759;

      &::before {
        background-color: var(--white);
        box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06), 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.04);
        transform: translate3d(calc(100% - 50% + 0.3rem), -50%, 0);
      }
    }
  }
}

.switch-box {
  border: 1px solid #a0a0a0;
  border-radius: 10rem;
  width: 3.9rem;
  height: 2.4rem;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: background-color var(--time);
  background-color: #A0A0A0;
  &::before {
    content: '';
    background: var(--white);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0.2rem;
    position: absolute;
    transition: transform var(--time), box-shadow var(--time), background-color var(--time);
  }
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: text-decoration-color var(--time);
  text-decoration-thickness: 0.1rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.loading-ring {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  transition: opacity .3s;
  opacity: 0;
  z-index: 1000000;
  width: 3rem;
  height: 3rem;
  pointer-events: none;

  @include mixins.breakpoint(vars.$sm-bp) {
    width: 2rem;
    height: 2rem;
    right: 1rem;
    bottom: 1rem;
  }

  &::after {
    content: '';
    border-radius: 100%;
    border: 0.2rem solid var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: 100%;
    animation: lds-ring 1.2s linear infinite;
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0% 100%);
  }

}

@keyframes lds-ring {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loading {
  .loading-ring {
    opacity: 1;
  }

  button,
  label,
  input,
  .mobile-facets__clear-wrapper {
    pointer-events: none;
  }
}

[data-error-message] {

  .collection .card & {
    position: absolute;
    bottom: 12rem;
    left: 1rem;
    width: calc(100% - 4rem);
    animation: fadeEffect var(--time);
    opacity: 0;
    transition: opacity var(--time)
  }

  #mobile-modal & {
    position: absolute;
    bottom: 5.5rem;
    left: 1.6rem;
    width: calc(100% - 3.2rem);
  }
}

.disable-scroll {
  overflow: hidden;
}

.radio {
  position: relative;

  input {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
  }
}

.radio-box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  cursor: pointer;
  transition: border-color var(--time), background-color var(--time), color var(--time);
  border-color: rgba($color: #000000, $alpha: 0.1);

  input:checked+& {
    border-color: var(--black);
  }

  input:disabled+& {
    cursor: auto;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-color: transparent;
    color: #A0A0A0;
  }
}

.radio2-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.radio2-box {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color var(--time);

  &::before {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--white);
    opacity: 0;
    border-radius: 100%;
    transition: opacity var(--time);
  }

}

.shopify-challenge__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.shopify-challenge__message {
  margin-bottom: 2rem;
}

menu-drawer {
  display: none;
}

.inp {
  border: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
  height: 5rem;
  padding: 1.6rem;
  width: 100%;
  border-radius: 0;
  background-color: var(--white);

  &:focus {
    outline: none;
    border-color: var(--blue);
    transition: border-color var(--time)
  }

  &.error,
  &[aria-invalid="true"] {
    border-color: var(--red);
  }
}

.search-inp {
  @include mixins.breakpoint(vars.$xl-bp) {
    height: 3rem;
  }
}

.shopify-policy__title {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.shopify-policy__container {
  padding-bottom: 6rem;
}

.shopify-policy__body,
.wysiwyg {
  &>* {
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    margin-bottom: 4rem;
  }

  h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  h3 {
    margin-top: 4rem;
    margin-bottom: 3.2rem;
  }

  p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  image {
    max-width: 100%;
    height: auto;
  }

  table {
    width: 100%;
    animation: fadeEffect var(--time);

    td,
    th {
      padding: 1.5rem 1.3rem;
      text-align: start;
      border: 1px solid #E6E6E6;
      border-collapse: collapse;
      font-weight: 400;

      @include mixins.breakpoint(vars.$xl-bp) {
        padding: 1.4rem 1rem;
      }
    }

    @include mixins.breakpoint(vars.$sm-bp) {
      font-size: 1.4rem;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: text-decoration-color var(--time);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.st-wishlist-details-button {
  display: none !important
}

.st-toast {
  border-radius: 0 !important;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.st-close-button {
  visibility: hidden;
  position: relative;

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.53033 4.46967C5.23744 4.17678 4.76256 4.17678 4.46967 4.46967C4.17678 4.76256 4.17678 5.23744 4.46967 5.53033L10.9393 12L4.46967 18.4697C4.17678 18.7626 4.17678 19.2375 4.46967 19.5304C4.76256 19.8232 5.23744 19.8232 5.53033 19.5304L12 13.0607L18.4697 19.5304C18.7626 19.8232 19.2374 19.8232 19.5303 19.5304C19.8232 19.2375 19.8232 18.7626 19.5303 18.4697L13.0607 12L19.5303 5.53033C19.8232 5.23744 19.8232 4.76256 19.5303 4.46967C19.2374 4.17678 18.7626 4.17678 18.4697 4.46967L12 10.9393L5.53033 4.46967Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

#st-wishlist-page {
  display: none
}

/* Blocks */

@include meta.load-css("importsBlocks");